[api]
# IP to listen on
listen = 0.0.0.0

# Port to listen on
port = 8090

# Cloud name.
# Such name must be configured on the ~/.config/openstack/clouds.yaml
# Refer to
# https://docs.openstack.org/python-openstackclient/pike/configuration/index.html
cloud_name = openstack4

# qos_context paramter refers to how to apply the qos rules. Possible values are:
#   - switch_context
#   - endpoint_context
# If Switch context is used keys incoming and outgoing are applied from the point of view of the switch
#       incoming = ingress direction on the switch, egress direction on the server
#       outgoing = egress direction on the switch, ingress direction on the server
#
# If Endpoint context is used, rules are applied in the opposite direction from the point of view of the endpoint
#       incoming = ingress direction on the endpoint, egress direction on the switch
#       outgoing = egress direction on the endpoint, ingress direction on the switch
qos_context = endpoint_context

